\#*
.#*
.gdb_history
.nfs*
*~
*.tidy
*.old
*.gz
*.gz.uu
*.html
*.info
*.log
*.1
.*.swp
*.tmp
*.tex
*.pdf
/Makefile
/.ccache
/.venv/
/artifact/
README
TAGS
autom4te.cache
compile_commands.json
config.cache
config.status
configure
dddrun*
doxygen-doc
gdbrun*
gmon.out
internals.txt
ncverilog.history
nohup.out
verilator-config-version.cmake
verilator-config.cmake
verilator.pc
verilator.txt
verilator_bin*
verilator_coverage_bin*
**/__pycache__/*
**/_build/*
**/obj_dir/*
/.vscode/
/.idea/
/cmake-build-*/
/obj_coverage/
/obj_dir_cov/
/obj_test_*/
/test_regress/snapshot/
/coverage_report*/
/references/
/tmp/
/FUNCCOV_SUMMARY.md
/test_regress/coverage.dat
xmverilog.*
xrun.history

# Normal CMake build directory
/build
